body {
    background: var(--gray-dark);
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
h2#title-homepage {
    color: white;
    font-family: 'Livvic', sans-serif;
    font-weight: 600;
    margin-top: 1rem;
}
.awoo-container {
    min-height: calc(100vh - 4.6rem);
}
.awoo {
    height: 1.2rem;
    margin-bottom: 8px;
}
.awoo-gradient {
    background: linear-gradient(45deg, #2e1c74, rgb(57, 51, 136)) !important;
}
.awoo-wrapper {
    background: rgba(0,0,0,0.2);
    padding: 2rem;
    border-radius: 2rem;
    margin-top: 2rem;
    color: var(--white);
}
.awoo-wrapper h1, h2, h3, h4, h5, h6 {
    color: var(--white);
}
.awoo-wrapper.no-padding {
    padding: 0 !important;
}
.awoo-wrapper.multiple-blocks {
    margin-top: 2rem !important;
    margin-bottom: 0 !important;
}
.awoo-wrapper:last-child {
    margin-bottom: 2rem !important;
}
div.awoo-wrapper h1 {
    text-align: center;
    color: var(--white);
    margin-top: 2rem;
}
div.awoo-wrapper h2, a.title-link {
    cursor: pointer;
    text-align:left;
    color: white;
    font-weight: 700;
    font-size: 1.4rem
}
div.awoo-wrapper a.title-link {
    color: var(--primary);
}
div.awoo-wrapper a.title-link:hover {
    color: var(--light);
}
h4#wrapper-pop {
    font-size: 1rem;
    font-weight: 300;
    color: var(--white);
    text-align: left;
    margin: 2rem 0 0 2rem;
    background: rgba(0,0,0,0.2);
    display: inline-block;
    padding: 0.4rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
div.awoo-wrapper div.awoo-poll {
    padding: 2rem;
    background: transparent;
    border-radius: 1rem;
    margin-top: 3rem;
}
div.awoo-wrapper div.awoo-poll p {
    color: var(--white);
    font-weight: 500;
    margin: 0 0 8px;
}
div.awoo-wrapper div.awoo-poll h2 {
    text-align: center;
    margin-top: 2rem;
    color: var(--white);
}
div.awoo-wrapper div.awoo-poll h2 img {
    height: 2rem;
    margin-bottom: 12px;
    cursor: pointer;
    transition: all 0.18s;
}
div.awoo-wrapper div.awoo-poll h2 img:hover {
    transform: scale(1.3);
}
div.awoo-wrapper div.awoo-poll span#total {
    color: var(--blue);
    cursor: pointer;
}
div.awoo-wrapper div.awoo-poll span#total:hover {
    color: #2a75c6;
}
div.awoo-wrapper div.awoo-poll div.progress {
    margin-bottom: 10px;
    height: 2rem !important;
    background: #212529;
}
div.awoo-wrapper table.table th,td {
    border-top: 0.125rem solid var(--gray-dark) !important;
    border-bottom: 0.125rem solid var(--gray-dark) !important;
}
nav#navbar-main .nav-link {
    padding-right: 0 !important;
}
nav#navbar-main .tag {
    font-size: 0.9rem;
}
/*** Flashes ***/
.flash {
    margin-top: 2rem;
    border-radius: 1.2rem;
    color: white;
    background: #525f7f;
}
.flash-header {
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    padding: 0.42rem;
    text-align: left;
}
.flash-header.danger {
    background: var(--red);
}
.flash-header.warning {
    background: var(--orange);
}
.flash-header.info {
    background: var(--blue);
}
.flash-header p {
    font-family: 'Livvic', sans-serif;
    font-weight: 500;
    margin: 0 0 0 1rem;
}
.flash-header.danger p:before {
    font-family: 'FontAwesome', sans-serif;
    margin-right: 8px;
    content: "\f06a";
}
.flash-header.warning p:before {
    font-family: 'FontAwesome', sans-serif;
    margin-right: 8px;
    content: "\f071";
}
.flash-header.info p:before {
    font-family: 'FontAwesome', sans-serif;
    margin-right: 8px;
    content: "\f05a";
}
.flash-body {
    padding: 0.42rem;
    margin-left: 1rem;
}
b#flash-date {
    margin-left: 1rem;
    font-weight: 600;
}
/** Welcome **/
.welcome {
    color: white;
    font-family: 'Livvic', sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
}
#awoo-banner {
    height: 15rem;
    min-height: unset;
    background: url(../../../public/static/img/Awoos.png) 58%;
    background-size: contain;
    background-repeat: no-repeat;
}
.shadowed {
    background: rgba(0,0,0,0.25);
    padding-left: 1rem;
    padding-right: 1.4rem;
    border-radius: 8px;
}
#awoo-banner-gradient {
    background: linear-gradient(150deg, #281483 15%, #8f6ed5 70%, #d782d9 94%) !important;
}
@media (orientation: portrait) {
    .welcome {
        font-size: 1rem;
    }
    #awoo-banner {
        background: url(../../../public/static/img/MomijiAwoo.png) 108%;
        background-size: contain;
        background-repeat: no-repeat;
    }
}
/*** Forms ***/
.darkfade {
    background: rgba(0, 0, 0, 0.45);
}
#frm-register {
    padding-top: 5rem;
}
.form-control {
    background: rgba(0, 0, 0, 0.18);
    border-color: rgba(0, 0, 0, 0.18);
}

.form-control:focus {
    background: rgba(0, 0, 0, 0.25);
    border-color: rgba(0, 0, 0, 0.25);
}
/*** Tags ***/
.tag {
    padding: 4px;
    border-radius: 4px;
    font-size: 1rem
}
.tag.orange {
    background: var(--orange);
}